server:
  port: 8080
spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id : user-service-route # id
          uri : lb://user-service # lb
          predicates:
            - Path=/api/user/**
          filters:
            - StripPrefix=1

        - id : test-service-route
          uri : lb://test-service
          predicates:
            - Path=/api/test/**
          filters:
            - StripPrefix=1

eureka:
  client:
    service-url:
      defaultZone : http://localhost:8761/eureka