server:
  port: 8082

spring:
  application:
    name: user-service
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
      connect-timeout: 300ms
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 896093827y
    url: jdbc:mysql://127.0.0.1:3306/blog_system?&serverTimeZone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&useSSL=false&autoReconnect=true
  main:
    allow-bean-definition-overriding: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false

logging:
  level:
    com.yblog.service.userservice : INFO

